@media only screen and (max-width: 550px) {
    body {
        background-color: blue;
    }

    header {
        position: sticky;
        top: 0;
        height: 70px;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }

    nav ul li {
        padding: 0 8px;
        margin: 0px -3px;

    }

    .spacebetween {
        justify-content: space-between;
        font-size: 10px;
    }
    
    .search {
        font-size: 7px;
        width: 34vw;
        height: 10px;
        margin: auto;
    }
   
    .right {
        margin-top: 12px;

    }

   
    .homeImg1 {
        /* padding: 0 110px; */
        width: 80vw;
        height: 30vh;
        margin-left: 42px;
    }

    .homeImg2{
        height: 22vh;
    }
    .discountImg{
        width: 150px;
        height: 130px;
        
    }
    .discountImg1{
        width: 150px;
        height: 130px;
    }
    .discountImg2{
        width: 150px;
        height: 130px;
        margin-top: 40px;
    }
    .main2 {
        display: flex;
        flex-direction: column;
        height: 72vh;
        margin-top: 15px;
    }
    .copyright{
        font-size: 8px;
        height: 120vh;
    }
    .p1{
        padding: 0px 20px;
    }
    .copy2{
        font-size: 13px;
        font-weight: bolder;
    }

}